# Only choose one of these, depending on your device...
export TARGET=aarch64-linux-android
export TARGETGNU=aarch64-linux-gnu
# Configure and build.
export AR=$TOOLCHAIN/bin/llvm-ar
export CC=$TOOLCHAIN/bin/$TARGET$API-clang
export CPP="$CC -E"
export AS=$CC
export CXX=$TOOLCHAIN/bin/$TARGET$API-clang++
export CXXCPP="$CXX -E"
export LD=$TOOLCHAIN/bin/ld
export RANLIB=$TOOLCHAIN/bin/llvm-ranlib
export STRIP=$TOOLCHAIN/bin/llvm-strip
export OBJCOPY="$TOOLCHAIN/bin/llvm-objcopy"
export OBJDUMP="$TOOLCHAIN/bin/llvm-objdump"
export READELF="$TOOLCHAIN/bin/llvm-readelf"
